nav {
    text-align: center;
    color: white;
    font-family: 'Merriweather', serif;
    background-image: linear-gradient(black, transparent), url("../resources/Banner\ Image.png");
    max-width: 1320px;
    padding: 40px;
    margin: 120px auto;
    background-position: center;

    background-size: cover;
    
}
nav h6{
    font-size: 40px;
}
nav h2{
    font-size: 80px;
}
.offer{
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 70px;
}
.section{
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    width: 60%;
    margin: auto;
    background-image: url("../resources/Vectorrr.png");
    background-position: center;
    background-repeat: no-repeat;
}
.place-date{
    text-align: center;
    padding: 70px;
    font-size:larger;
    background-color: rgba(209, 165, 165, 0);
    background-color: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    max-width: 1320px;
    margin: 50px 80px;
}
.second-section{
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    margin: auto;
}
.discount-section{
    text-align: center;
}
.multiple-section{
    display: flex;
    justify-content:first baseline;
    max-width: 1320px;
    padding: 60px;
    margin: auto;
    background-image: url("../resources/Rectangle\ 1.png"), url("../resources/Rectangle\ 2.png");
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    background-position: right top +42px, bottom +60px center;
}
.image-discount50{
    /* margin: left 10px; */
}
.awesome{
    max-width: 1320px;
    margin: auto 120px;
}
.final-image{
    display: block;
    max-width: 1320px;
    margin: 50px 120px;
    gap: 20px;
}